<div class="container">
  <!-- logo -->
  <img
    src="http://images.ctfassets.net/ktgg7d3rvrch/3y9128KjYQEYiECiO86o0Y/4e8619e17ebf67a94aecc1507135470b/mercari-japan.png"
    style="height: 90px;cursor: pointer;" (click)="goback()">
  <!-- Search -->
  <div class="form-group">
    <input [(ngModel)]="itemSearch" style="padding-left:15px;width: 70%;margin: auto;" type="text" class="form-control"
      aria-describedby="basic-addon1" placeholder="Search for products and more">
  </div>
  <!-- Categories -->
  <div style="text-align: center;margin-top: 25px;">
    <span *ngFor="let category of categoriesArray; index as j" style="margin-right: 60px;cursor: pointer;"
      (click)="selectedCategory(category.id)">
      <span [ngClass]="{ 'activeCategory' : category.id == selectedID}">{{category.name}}</span>
    </span>
  </div>
  <!-- Items list -->
  <div class="row" style="margin-top: 50px;">
    <div *ngFor="let item of itemsArray | filter : itemSearch; index as i">
      <div *ngIf="item.category_id == selectedID"
        style="background-color: white;border-right: 15px solid #f3f5fa;border-bottom: 15px solid #f3f5fa;cursor: pointer;padding: 0px;"
        class="col-md-3 col-sm-3 col-xs-3">
        <div *ngIf="item.is_sold_out" (click)="itemDetails(item.id, item.name)"
          style="background-color: tomato;text-align:center;width: 270px;position: absolute;">
          SOLD</div>
        <img src={{item.image}} (click)="itemDetails(item.id, item.name)" style="width: 270px;height: 281px;" />
        <div style="padding: 0px 10px;background-color: white;width: 270px;">
          <span (click)="itemDetails(item.id, item.name)">{{item.name}}</span>
          <span style="float: right;">
            <i (click)="click(item.id)" class="fa fa-heart-o" aria-hidden="true"
              [ngClass]="{ 'liked' : item.id == likedCount}"> {{item.like_count}}</i>
          </span>
        </div>
        <div style="font-weight: bold;padding-left: 10px;background-color: white;width: 270px;"
          (click)="itemDetails(item.id, item.name)">${{item.price}}
        </div>
      </div>
    </div>
  </div>